@font-face {
    font-family: 'YourFontName';
    src: url('./PPNeueMachina-InktrapLight.otf') format('opentype');
}

body,* {
    background-color: black;
    color: #8b8b8b;
    font-family: 'PPNeueMachina-InktrapLight.', monospace;
    font-size: 16px;
    transition: transform 1s ease-in-out;
    margin: 0;  /* Add this to ensure full-width animation */
    overflow-x: hidden;  /* Prevent horizontal scrollbar during animation */
    cursor: crosshair !important; 
}



.slide-out {
    transform: translateX(-100vw);  /* Use vw instead of % for better compatibility */
}

.slide-in {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.terminal {
    padding: 1vw;
    height: 100vh;
    overflow-y: auto;
}

.terminal-content {
    line-height: 1.5;
    font-size: 0.75rem;
}

.terminal-line {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    white-space: pre-wrap;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


a {
  color: white;;
}

.vscode-container {
    border: 0.0625rem solid #fff;
    background-color: #0d1117;
    border-radius: 0.375rem;
    width: 20%;
    max-width: 18.75rem;
    margin: 2rem auto;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
}

.title-bar {
    background-color: #161b22;
    padding: 0.5rem 1rem;
    border-bottom: 0.0625rem solid #fff;
    border-radius: 0.375rem 0.375rem 0 0;
}

.title-text {
    color: #c9d1d9;
    font-family: monospace;
}

.editor-content {
    padding: 1rem;
    min-height: 6.25rem;
}

.code-text {
    color: #c9d1d9;
    font-family: monospace;
    font-size: 1.1em;
}

.impossible-cube {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.impossible-cube:hover {
    transform: translateX(-50%) scale(1.2);
}

